[2018-07-14 18:29] Irrationone opened #1 "Set a smart initialization for beta"
e.g. propto means for each gene

[2018-08-18 02:59] Irrationone opened #3 "Hierarchical priors on deltas in shared model"
To imitate hierarchical classification. Will help with rare populations

[2018-09-01 00:20] Irrationone opened #5 "Clean up code"

[2018-11-28 23:23] kieranrcampbell opened #7 "Correct documentation for cellassign() function"
Need correct roxygen header to pass bioccheck.

[2018-11-28 23:25] kieranrcampbell opened #8 "Intelligent subsetting of data"
Casual user may want to pass in an entire SCE but just the rho matrix corresponding to their marker genes. In theory we should be able to detect this and appropriatley subset the SCE by matching the `colnames` of rho with
1. the rownames of the SCE
2. some field in the rowData(sce) that looks like "ID", "id", "feature_id" (looking for ensembl ids)
3. some field in the rowData(sce) that looks like

[2018-11-28 23:26] kieranrcampbell opened #9 "Flesh out vignette"
Current vignette provides minimal working example but needs some added text explaining

[2018-11-28 23:26] kieranrcampbell opened #10 "Move over to tensorflow probability and work out how to install"

[2018-11-28 23:27] kieranrcampbell opened #11 "Update readme"
Should ideally have
1. schematic
2. more text
3. minimal working example for users

[2018-11-28 23:28] kieranrcampbell opened #12 "Pass R CMD check and BiocCheck for bioconductor"

[2018-11-28 23:31] kieranrcampbell opened #13 "Add unit testing"
Should have some semi-realistic unit testing, possibly on a reduced dataset

[2018-11-28 23:32] kieranrcampbell opened #14 "Add in Travis build"
To give a fancy "build: passing" logo

[2018-11-28 23:42] kieranrcampbell opened #15 "Different input format of rho"
We should consider allowing rho to be specified as the marker list and automatically call `marker_list_to_mat`.

[2018-11-29 21:24] #9 closed, assigned to kieranrcampbell

[2018-11-29 21:25] #7 closed, assigned to kieranrcampbell, Irrationone

[2018-11-29 21:59] #13 closed, assigned to kieranrcampbell

[2018-11-29 22:00] #12 closed, assigned to kieranrcampbell

[2018-11-29 22:02] #14 closed, assigned to kieranrcampbell

[2018-11-29 22:26] #3 closed, assigned to Irrationone

[2018-11-29 22:26] #5 closed, assigned to nobody

[2018-11-29 22:51] #15 closed, assigned to kieranrcampbell

[2018-11-30 16:49] kieranrcampbell opened #16 "Change initialization of delta"
Delta currently initializes to [log(min_delta), 2], which will break if log(min_delta) >= 2.

Plan to change to [log(min_delta), log(min_delta) + c] for some c (2?), but need to check log(min_delta) +c isn't too large as will get overflow

[2018-11-30 19:10] #11 closed, assigned to kieranrcampbell

[2019-01-14 15:55] #10 closed

[2019-01-14 15:56] kieranrcampbell opened #17 "Use sizeFactors from SingleCellExperiment"
If `s` is `NULL` we can check `sizeFactors(sce)` before computing them ourselves, but should have warning as often people don't know what sits there

[2019-01-16 23:05] robertamezquita commented on #17
Does this package support `SingleCellExperiment` objects currently?

[2019-01-16 23:08] kieranrcampbell commented on #17
Hi @robertamezquita

Yes `SingleCellExperiment`s are supported as the main input. Please see the [vignette](https://github.com/Irrationone/cellassign/blob/master/vignettes/introduction-to-cellassign.Rmd) or simply look at the _input format_ section in  `?cellassign`

Kieran

[2019-01-16 23:46] robertamezquita commented on #17
Great! I just didn't see it in the README. Thanks!

[2019-01-18 13:19] johanneskoester opened #18 "Can we get a release?"
Hi guys,
would you mind creating a release here on github. I am currently building a bioconda package and we need a release version to proceed.

Thanks,
Johannes

[2019-01-18 15:42] Irrationone commented on #18
Hi Johannes,

Done [v.0.99.0](https://github.com/Irrationone/cellassign/releases/latest) -- thank you!

Allen

[2019-01-18 23:04] #18 closed

[2019-01-31 14:22] kieranrcampbell opened #20 "Accept seurat as input"
Accept seurat data types as input using the `Convert` function in seurat. Note that `Seurat` should only be a suggests rather than depends to avoid depending on too many libraries.

[2019-02-05 01:14] kieranrcampbell opened #21 "Do something intelligent with non-present cell types"
If a user specifies a cell type but e.g.

- <= 1 of the markers are expressed at all
- All the expression is extremely low (e.g. avg 1 count per cell in those that its expressed)
- etc

Then remove that cell type from the rho matrix

[2019-02-05 01:25] kieranrcampbell opened #22 "Consider transposed input matrix"
I originally wrote that if an SCE isn't provided and a user provides a count matrix then effectively it should be cell by gene, ie

[code]

as input, out of a pedantic need that dim 1 should be samples (cells). However, this is probably over confusing and we should change it to just gene by cell (ie `counts(sce)` equiv)

[2019-02-19 22:33] ywang65 opened #23 "error when using raw count matrix as input"
Hi,

I encountered some problem when using raw count matrix as the input. I just used the example_sce and example_rho in the example. So my code is
`cellassign(t(counts(example_sce)),example_rho)`
and it shows:

No size factors supplied - computing from matrix. It is highly recommended to supply size factors calculated using the full gene set
20 NaN
Error in while (mi < max_iter_adam && Q_diff > r

[2019-02-19 22:49] kieranrcampbell commented on #23
Hi @ywang65

Looks like `scran` is returning negative size factors, which isn't ideal. If I remember rightly, `scran`'s algorithm is inherently random, so this may be stochastic.

To solve this, consider a different size factor calculation e.g. edgeR size factors:

[code]

Does that fix things?

[2019-02-19 23:43] ywang65 commented on #23
Yes, it works. Thank you very much!

From: Kieran R Campbell <notifications@github.com>
Reply-To: Irrationone/cellassign <reply@reply.github.com>
Date: Tuesday, February 19, 2019 at 4:49 PM
To: Irrationone/cellassign <cellassign@noreply.github.com>
Cc: "Wang,Yuanxin" <YWang65@mdanderson.org>, Mention <mention@noreply.github.com>
Subject: [EXT] Re: [Irrationone/cellassign] error when using raw coun

[2019-02-19 23:46] #23 closed

[2019-03-14 15:40] Irrationone commented on #21
Should be largely resolved in PR #26

[2019-03-18 23:58] Irrationone opened #27 "Attempt to coerce Y/counts(Y) into matrix, instead of just dying"

[2019-04-01 19:51] Irrationone opened #28 "Write out cellassign results to SCE"
As an option, write out cellassign results to the SCE object?

[2019-04-10 02:32] luguodexxx opened #29 "Not find the "unassigned" category in results"
Hi, there is a unassigned description in your manuscript, but I can't find the way to access this in your R package. Thanks!

[2019-04-10 03:00] Irrationone commented on #29
When you make a marker gene matrix, use the helper function `marker_list_to_mat()`, providing the option `include_other = TRUE`.

[2019-04-10 03:18] luguodexxx commented on #29
Thanks for your quick reply. :)

[2019-04-10 03:18] #29 closed

[2019-04-29 00:24] #28 closed

[2019-05-03 15:59] #21 closed

[2019-05-03 16:26] LTLA commented on #8
Chipping in here, as I'm seeing some similarities with some anti-patterns I've observed in _scater_.

The only legitimate subsetting approach is **1**. Though **2** and **3** might seem convenient, they make it much more complicated for people to guarantee the right genes were being used. (Is the matching done based on the row names? Or did it end up using the field in `rowData`? Or both?)

If peo

[2019-05-07 00:06] kieranrcampbell commented on #27
This was fixed at some point

[2019-05-07 00:06] #27 closed

[2019-05-07 00:07] kieranrcampbell commented on #8
Thanks for the input @LTLA, we'll go for this option then

[2019-05-07 00:24] LTLA commented on #8
No probs. Plenty more ~opinions~ objective rules where that came from.

[2019-05-14 23:12] LTLA opened #32 "Consider a training function to generate "marker_gene_info""
Something like:

[code]

The aim would be to auto-generate a decent `marker_gene_info` from one or more reference data sets in `...`. This would enable people to treat it as an end-to-end classification tool, i.e., train and test without mandatory human intervention. Right now, people have to read through the vignette, put together a DE analysis, etc. Not too hard for battle-hardened bioinformatic

[2019-05-14 23:18] LTLA opened #33 "Allow integer sce_assay"
`extract_expression_matrix` fails when doing something like `sce_assay=1`; this setting is occasionally necessary when `assayNames` is full of empty strings and/or if you know the input object only has one assay (but not what it's called). This is caused by a custom error check for the validity of `sce_assay`, but there is no need for that because `assay` will do this check anyway.

[code]

[2019-05-15 18:18] Irrationone commented on #33
Thanks @LTLA! Updated in 59564acdb2a130115ebed585c5e3591607134930

[2019-05-15 18:18] #33 closed

[2019-05-17 11:52] jma1991 opened #34 "Wrong search path for tensorflow package"
The cellassign package requires tensorflow to be installed, however it does not search in the right environment for the tensorflow package. I first created a separate conda environment for the installation:

`$ conda create --name cellassign r-cellassign r-tensorflow`

Then when I try to run the cellassign function I get the following error:

[code]

None of the Python environments searched contai

[2019-05-17 21:28] Irrationone commented on #34
Hi James,

That command won't actually install `tensorflow` -- it only installs the R interface to tensorflow (`r-tensorflow`) and `cellassign`.

You can choose to either install tensorflow in that environment with conda, or install tensorflow in a different conda environment using `tensorflow::install_tensorflow`. If you do the former you might have to run `reticulate::use_condaenv` to have it se

[2019-05-17 21:33] kieranrcampbell commented on #34
I wonder in light of this rather than the current

`You can install TensorFlow using the install_tensorflow() function.`

we should prompt the user too with "Would you like to install tensorflow now?" and call `install_tensorflow()` if the answer is yes?

[2019-05-17 23:11] Irrationone commented on #34
Perhaps. I'm not sure what the best way forward is in handling choices for the install configuration (e.g. virtualenv vs. conda) though.

[2019-06-07 03:55] azazel777 opened #35 "About results reproducibility"
Dear Cellassign team,

Thanks for your great work. Cellassign solved our problem to identify cell subtypes successfully.

However, we found some small problems when we try to reproduce cellassign results.

1. We used Cellassign 0.99.0 and Tensorflow 1.8.0 and there were 10% cells assigned to different types in 3 times test.(same code)

2. Recently, we upgrade the Tensorflow to 1.9.0 and also added

[2019-06-07 16:12] kieranrcampbell commented on #35
Hi Richard,

Thanks for your feedback.

CellAssign uses expectation maximization, which will essentially only go to a local maximum in the log likelihood space. So it actually performs multiple fits with random initializations and chooses the best based on the log likelihood.

A few questions questions:
1. Are you setting a seed when doing the analysis?
2. Are you using the latest version of CellA

[2019-06-17 22:33] robertamezquita opened #36 "Bioconductor submission?"
I saw some tags relating to bioc-check, and just wanted to check in on the status of Cellassign being submitted to BIoconductor. Thanks!

[2019-06-17 22:34] kieranrcampbell commented on #36
Hi @robertamezquita

It's on the to-do list, and should be priority now. I'd been putting it off because of the tensorflow integration, which I'm not sure will play well with bioc, but will try and submit in the next week or so. Please let us know if any suggestions or requests.

Thanks

Kieran

[2019-06-18 01:01] robertamezquita commented on #35
I've also run into this reproducibility issue, in that running on the same data set, and setting the seed (both in R and via reticulate's `py_set_seed` function) do not ensure reproducibility between runs.

This seems to be occuring more so for cell types that are more easily confused in my case (see confusion matrix below), but regardless, the runs should be reproducible upon subsequent runs if n

[2019-06-18 16:59] kieranrcampbell commented on #35
Thanks @robertamezquita

I think the seed needs set in the tensorflow session, rather than in python. If I remember from clonealign this is a bit painful, but I'll make it a priority since it's important. On a side note, if the results are (largely) dependent on the seed, it means the likelihood surface is so bumpy I wouldn't trust them. You can use cellassign to perform multiple runs from differe

[2019-06-26 00:01] kieranrcampbell opened #37 "Basic usability enhancements"
For paper acceptance / bioconductor submission, we should aim to have the following usability enhancements:

1. Allow multiple ways of passing the marker matrix - ie let the user pass the named list and have cellassign call `marker_list_to_mat` with nice errors if something fails
2. If the SCE doesn't match the number of marker genes, can we try to do something intelligent with subsetting? Ie work

[2019-07-17 19:52] jrnick7 opened #38 "How to assign cell population with t-SNE?"
Hi,
In the vignette, I didn't find how to use this package to annotate cell population in a t-SNE plot?
Do you have any idea to deal with that?

[2019-07-17 20:18] kieranrcampbell commented on #38
You would use the scRNA-seq count data as input to cellassign as per the vignette, get cell assignments, then compute the t-SNE representation (using e.g. `plotTSNE` in scater), and colour the points by the cell assignment. The visualization part (t-SNE) is separate from the cell assignment part that uses the gene expression data.

[2019-07-17 20:34] jrnick7 commented on #38
Thanks. I'll try that.
By the way, with no offense, have you compared your package with Alona (panglaodb)? I just start learning scRNA-seq, so I'm wondering which method I should follow.

[2019-09-13 17:05] chenlingantelope opened #41 "runtime issue"
I am running cellassign on a dataset I tried to use your method on a dataset with 19684 cells, 316 marker genes, and 58 cell types (in theory I have more marker genes too). It has been running for a whole day without signs of finishing, so I stopped the process in case I am doing something wrong.

I got the following warning:

`2019-09-12 17:30:30.736025: W tensorflow/compiler/jit/mark_for_compila

[2019-09-13 17:19] kieranrcampbell commented on #41
Hi @chenlingantelope  thanks for bringing this onto github.

We have runtime comparisons in the supplement that go up to 80k cells, but never for this many cell types.

Could you try running again, but we'll be a little less stringent with the number of iterations, so try with options
`max_iter_adam = 500` and
`max_iter_em = 10`

and we can see how far it gets? If you could plot `ca$lls` after thi

[2019-09-20 06:30] chenlingantelope commented on #41
Hi Kieran,
sorry it took me so long to get back to you. I set the job running and forgot about it :/ and forgot to track the runtime. But it did finish and gave me these results. I'll update more when I look at the results and also actually tracks the time.

[code]
Would you consider this as having converged? and how many markers do you typically run this analysis with?
Thanks!

[2019-09-20 09:36] kieranrcampbell commented on #41
It looks approximately converged, but it would be best to plot the log likelihood as a function of iterations (I think you can do with just `plot(ca$lls)` ) and paste here to assess?

You can also plot the specificity of marker expression for each cell type, which in scater would be something like
`plotExpression(sce, x = 'cellassign_cell_type', features = your_marker_genes)`

We typically run wit

[2019-09-20 22:35] chenlingantelope opened #42 "number of threads"
Hi,
I am running into another problem (I ran the last session interactively, but since I might do it more, I submitted my jobs through qsub this time) and got
OpenBLAS : Program will terminate because you tried to start too many threads.
Here is the complete error message.
[475300.zen.millennium.berkeley.edu.ER.txt](https://github.com/Irrationone/cellassign/files/3637962/475300.zen.millennium.berk

[2019-09-21 00:50] olechnwin commented on #41
Hi @kieranrcampbell
Can you please explain why you mentioned "Might just be careful not to include too many cell types you don't expect to be in the dataset!". I was actually thinking about using all the cell markers in [http://biocc.hrbmu.edu.cn/CellMarker/help.jsp](url) since the paper mentioned it maintained high accuracy when too many cell types are specified. Thank you in advance.

[2019-09-23 02:08] 865699871 opened #43 "celltypes"
Error in celltypes(fit) : could not find function "celltypes"
Error in mleparams(fit) : could not find function "mleparams"

[2019-09-23 19:12] chenlingantelope commented on #41
Hi Kieran,

I finally reran the process (on interactive) and it took in total 42.8955 hours to finish with the 58 cell types and 316 genes. This was done on CPU though, because I had some installing issues on our GPU server. What is the expected speedup with GPU? Do you have specific instructions on making sure that the R tensorflow package finds the corresponding python tensorflow that uses GPU?

[2019-09-24 04:18] jchen032294 opened #44 "Error in cellassign(exprs_obj = sc_expriment, marker_gene_info = marker_gene_tab, : nrow(rho) == G is not TRUE"
Hi,

I am trying to assign cell types with `cellassign` but it kept giving me such error message.

[code]

I tried to debug myself by running it line by line and I found that function `extract_expression_matrix` is not included in the package. Is this introduced by my installation?

My session info is also attached.

[code]

[2019-09-24 13:18] #38 closed

[2019-09-24 13:22] kieranrcampbell commented on #41
@olechnwin it will work best (in both time and accuracy) when the number of cell types specified is roughly equivalent to what's actually in the data. It's okay to have a few cell types in the input to cellassign that aren't in the data, but it would make most sense to try and only include cell types you reasonably expect (e.g. if you have a breast primary tumour sample, don't include retinal prog

[2019-09-24 13:23] kieranrcampbell commented on #41
@chenlingantelope that all looks good and your likelihood looks converged. 42 hours still seems ridiculously long, we'll have a look into speeding it up. GPU speedup should be 10-100 fold

[2019-09-24 13:29] kieranrcampbell commented on #43
Please make sure you are running the latest version of cellassign, and add the output of `sessionInfo()` to this issue

[2019-09-24 13:30] kieranrcampbell commented on #44
Hi @jchen032294

Are you ensuring that `sc_expriment` contains only marker genes? (and that the rows (if `SingleCellExperiment`) or columns (if count matrix) match the marker genes in `marker_gene_tab`)

[2019-09-24 13:58] kieranrcampbell commented on #42
Looks like we need to add an option in `cellassign` to limit thread usage. Can be achieved via

https://stackoverflow.com/questions/38187808/how-can-i-run-tensorflow-on-one-single-core

Will put on to-do list

[2019-09-24 18:23] key1356 opened #45 "Problem to install cellassign in Rstudio"
Hi,
I can not install cellassign in Rstudio. I even tried R console with the same errors happen. There are several errors that I do not know if they are separate or derive from the same problem.

Downloading GitHub repo Irrationone/cellassign@master
These packages have more recent versions available.
Which would you like to update?

 1: All
 2: CRAN packages only
 3: None
 4: Biobase      (2.42.0

[2019-09-25 01:08] key1356 commented on #45
**Also I can not install it through conda:**

(tf-cell) C:\Users\key>conda install -c conda-forge -c bioconda r-cellassign
Collecting package metadata (current_repodata.json): done
Solving environment: failed with current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed

PackagesNotFoundError: The following packages

[2019-09-27 06:39] 865699871 opened #47 "How to Constructing marker genes"
entrez_map <- select(org.Hs.eg.db,
                      as.character(rownames(holik_data$counts)),
                      c("SYMBOL"), "ENTREZID")
Error in select(org.Hs.eg.db, as.character(rownames(holik_data$counts)),  :
  could not find function "select"

[2019-09-28 04:09] Irrationone commented on #47
It doesn't look like you've loaded `org.Hs.eg.db` yet -- the `select` function is from `AnnotationDbi` which is imported by that package.

[2019-09-28 04:09] #47 closed

[2019-10-01 18:42] VicenteFR opened #48 "Problem to install cellassign using devtools."
Hi! Trying to figure out why **I can't install cellassign from GitHub using devtools**. As specified, I've already installed tensor flow with install.packages() and applied tensorflow::install_tensorflow(), where I've specified the specific path where I want it to be saved (a directory for my R 3.6 version packages directory, this for both).
Then, **after trying install_github("Irrationone/cellass

[2019-10-01 18:43] kieranrcampbell commented on #48
Woops. What does the output of

`tensorflow::tf_config()`

look like?

[2019-10-01 18:55] VicenteFR commented on #48
Thanks for your immediate answer!

This is what I got from **tensorflow::tf_config()**...

`Installation of TensorFlow not found.

Python environments searched for 'tensorflow' package:
 /home/vfajardo/python/miniconda/bin/python3.7
 /home/vfajardo/python/miniconda/bin/python3.7
 /usr/bin/python2.7
 /usr/bin/python3.4

You can install TensorFlow using the install_tensorflow() function.`

Interesti

[2019-10-01 18:57] kieranrcampbell commented on #48
Very odd -- what does `install_tensorflow(method='conda')` do? Are you on MacOS or Linux for this?

[2019-10-01 19:00] VicenteFR commented on #48
Let me try that. I am using a Linux server.

Thanks.

[2019-10-01 20:17] VicenteFR commented on #48
I already tried using **install_tensorflow(method='conda')**, but I get the same result as before after using **tensorflow::tf_config()**. However, when doing this I realized that I get an **error trying install_tensorflow()** that says:

which is followed by the result I had shown above...

`Installing collected packages: gast, numpy, six, h5py, keras-applications, wrapt, google-pasta, grpcio, ke

[2019-10-02 01:33] Irrationone commented on #48
Likely has to do with this issue:

https://github.com/tensorflow/tensorflow/issues/32319

If you follow the instructions and downgrade gast in the conda environment that tensorflow uses (likely `r-tensorflow`) then it'll hopefully work.

[2019-10-02 23:45] VicenteFR commented on #48
Hi!

Yes, that was the problem. However, the real source of the problem was my conda environment. Somehow I just couldn't downgrade gast version 0.3.2 to 0.2.2 and I don't really know what was going on. My solution was to install tensor flow in an independent environment and use this to, finally, install cellassign and save it to my R packages directory. Nonetheless, I finally got it.

Thanks so m

[2019-10-02 23:45] #48 closed

[2019-10-03 01:54] VicenteFR opened #49 "AttributeError: module 'tensorflow' has no attribute 'reset_default_graph'"
Hi, everyone!

I was trying to process the data sets from SingleCellExperiment package as shown in the tutorial  but, when trying to run:

I've faced this error from tensorflow:

Apparently, it has something to do with the way the module tensorflow could be imported in a python session as commented in this [thread](https://github.com/keras-team/keras/issues/12783). Any suggestions to solve this?

[2019-10-03 01:58] kieranrcampbell commented on #49
I think the issue is you probably have tensorflow 2.0 installed. Can you check this with

`tensorflow::tf_config()`

cellassign was written in tensorflow 1.X and we've been dreading the day the 2.0 candidate was released. The moral of the story is don't develop in tensorflow.

If the above does indeed show you have 2.X installed, you can downgrade via

`install_tensorflow(your_options, version='1.

[2019-10-03 02:15] kieranrcampbell commented on #49
@Irrationone looks like there might be a quick fix via the `use_compat` function https://www.rdocumentation.org/packages/tensorflow/versions/1.14.0/topics/use_compat

[2019-10-03 02:50] VicenteFR commented on #49
Got ya'!

Problem solved! Now there are a lot of warnings output, but all of them related to the new tensorflow version.

Thanks, thanks!

[2019-10-03 02:50] #49 closed

[2019-10-04 15:57] olechnwin opened #50 "need more information on inputs to cellasssign"
Hi @kieranrcampbell ,

I have the same error as in #44
"Error in cellassign(exprs_obj = sce, marker_gene_info = bone.markers.mat,  :
  nrow(rho) == G is not TRUE" .

I read the paper and I feel like I missunderstood the method. Can you please elaborate on what should be the input of cellassign? I have done pre-processing and clustering of cells using Seurat.

1. Regarding marker_gene_info, the gen

[2019-10-04 16:18] kieranrcampbell commented on #50
Correct

`exprs_obj` should correspond only to the marker genes listed in `marker_gene_info`

Best to run it on the entire gene expression matrix before subsetting to just the marker genes for input to cellassign.

I'm going to
1. Update the vignette to clarify these points as they're important
2. Make that error more informative

Thanks

[2019-10-04 17:15] olechnwin commented on #50
@kieranrcampbell,

Thank you so much for your quick response. The `expr_obj` should be raw counts, correct?
Also can you please give a brief intuition as to how the algorithm is able to determine the cell types based on only expression of markers genes?

[2019-10-04 17:18] kieranrcampbell commented on #50
Yup `expr_obj` should be raw counts.

In the methods section of [the publication](https://rdcu.be/bQGtI) there's actually a paragraph on the intuition behind the model "The intuition is that if gene g is a marker for cell type c,..." -- let me know if anything still unclear.

[2019-10-04 17:46] olechnwin commented on #50
Thanks, @kieranrcampbell !
Reading it the second time, makes it more clear :-)
So the expression of a gene marker g is compared across cells and it should be highly expressed in the cells it is a marker of and not other cells. In the beginning, I mistakenly thought that to determine whether or not gene g is highly expressed you need to know the expression of other genes in the same cell.
BTW, cong

[2019-10-04 17:51] kieranrcampbell commented on #50
Yes exactly. But the beauty behind probabilistic (generative) modelling is that you can write down a model of how you expect the world to work (so in this case we say if I'm a cell of a given cell type I'm going to over-express the marker genes for that type) and then performing statistical inference automatically tells you what cells are of what cell types, so in a sense there's no actual "compar

[2019-10-07 21:49] kieranrcampbell commented on #50
Updated examples and docs to make it obvious only markers should be used in 176cb645e449f2110109c7f515e9756de3477027

[2019-10-07 21:49] #50 closed

[2019-10-07 21:50] kieranrcampbell commented on #48
`cellassign` now updated to use Tensorflow 2.0.0

[2019-10-07 21:58] VicenteFR commented on #48
Thanks for the update!

On Mon, Oct 7, 2019 at 2:50 PM Kieran R Campbell <notifications@github.com>
wrote:

--
Vicente Fajardo
Research technician at the Vijayanand Lab in the La Jolla Institute for
Immunology
Student of the Undergraduate Program on Genomic Sciences (LCG) of the
National Autonomous University of Mexico (UNAM)

[2019-10-08 21:32] aaliakmal opened #52 "Cannot Install Cellassign"
Hi Guys,
So I cannot install cellassign despite downloading. Python 3.7 64 bit, Tensorflow 2.0 and its extra package. Error code it down below.

TensorFlow v1.13.1 ()
Python v3.7 (C:\Users\alexanderlee\AppData\Local\Continuum\miniconda3\envs\r-reticulate\python.exe)

Downloading GitHub repo Irrationone/cellassign@master
√  checking for file 'C:\Users\alexanderlee\AppData\Local\Temp\RtmpAFv6rj\remo

[2019-10-08 21:59] kieranrcampbell commented on #52
From

it looks like you have tensorflow 1 installed rather than 2?

Also is your architecture really 32 bit? Can you show the output of `sessionInfo()` to see?

[2019-10-08 22:17] aaliakmal commented on #52
So here's what sessionInfo showed me.

R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 17134)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats

[2019-10-08 22:41] kieranrcampbell commented on #52
Can you post results of `reticulate::py_config()` ? Looks windows-specific and related to https://github.com/rstudio/tensorflow/issues/95

[2019-10-08 22:48] aaliakmal commented on #52
Here are my results for reticulate ::py_config()
python:         C:\Users\alexanderlee\AppData\Local\Continuum\miniconda3\envs\r-reticulate\python.exe
libpython:      C:/Users/alexanderlee/AppData/Local/Continuum/miniconda3/envs/r-reticulate/python37.dll
pythonhome:     C:\Users\ALEXAN~1\AppData\Local\CONTIN~1\MINICO~1\envs\R-RETI~1
version:        3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.191

[2019-10-08 22:52] kieranrcampbell commented on #52
So when I do that on my system I see a line for tensorflow in the first half:

What happens if you call
`C:\Users\alexanderlee\AppData\Local\Continuum\miniconda3\envs\r-reticulate\pip install tensorflow` ?

Also what does your `tensorflow::tf_config()` look like now? Have you upgraded to v2?

[2019-10-08 23:09] aaliakmal commented on #52
(base) C:\Users\alexanderlee\AppData\Local\Continuum\miniconda3\envs\r-reticulate> pip install tensorflow
Collecting tensorflow
  Downloading https://files.pythonhosted.org/packages/54/5f/e1b2d83b808f978f51b7ce109315154da3a3d4151aa59686002681f2e109/tensorflow-2.0.0-cp37-cp37m-win_amd64.whl (48.1MB)
    100% |████████████████████████████████| 48.1MB 308kB/s
Collecting astor>=0.6.0 (from tensorflow)

[2019-10-08 23:10] kieranrcampbell commented on #52
I think you should be able to work through the above errors ^^

[2019-10-08 23:15] aaliakmal commented on #52
So , how should I fix EnviromentalError.
And should I install setuptools using pip

[2019-10-08 23:16] kieranrcampbell commented on #45
Okay this looks like the same issue we're having fun with over in #52 which I think is a windows-specific can't locate correct version of tensorflow as per here https://github.com/rstudio/tensorflow/issues/95

Can you post the output of
`tensorflow::tf_config()`
and
`reticulate::py_config()` ?

Thanks

[2019-10-08 23:18] kieranrcampbell commented on #52
If you read the error above you'll see

so I would start there (`pip install --user tensorflow`)

[2019-10-08 23:25] aaliakmal commented on #52
Ok Here is Tensor flow configuration on R after installing Tensorflow 2.0 via anaconda

TensorFlow v1.13.1 ()
Python v3.7 (C:\Users\alexanderlee\AppData\Local\Continuum\miniconda3\envs\r-reticulate\python.exe)

Here is my anaconda code after running pip install --user tensorflow
Installing collected packages: wrapt, h5py, keras-applications, setuptools, protobuf, werkzeug, markdown, tensorboard, o

[2019-10-08 23:28] kieranrcampbell commented on #52
Okay your installation is almost certainly pointing to the wrong version of tensorflow as it still says 1.13.1 but you've just installed tensorflow 2. Can you restart R and as the first thing run

`tensorflow::use_condaenv('r-reticulate')`

(if this throws errors you might need to add a path, I don't know how it works on windows)

Make sure `tensorflow::tf_config()` shows version 2

then try re-in

[2019-10-08 23:37] aaliakmal commented on #52
Tensorflow v.2.0 installed successfully. However installing cellassign still failed.

 tensorflow::use_condaenv('r-reticulate')

TensorFlow v2.0.0 ()
Python v3.7 (C:\Users\alexanderlee\AppData\Local\Continuum\miniconda3\envs\r-reticulate\python.exe)

Downloading GitHub repo Irrationone/cellassign@master
√  checking for file 'C:\Users\alexanderlee\AppData\Local\Temp\RtmpEfIPz6\remotes3da431e5ac3\Ir

[2019-10-08 23:43] kieranrcampbell commented on #52
Does vanilla tensorflow work? Ie if you run

[code]

does it run without error?

[2019-10-08 23:46] aaliakmal commented on #52
On anaconda:
(base) C:\Users\alexanderlee\AppData\Local\Continuum\miniconda3\envs\r-reticulate>tf <- tf$compat$v1
The system cannot find the file specified.

(base) C:\Users\alexanderlee\AppData\Local\Continuum\miniconda3\envs\r-reticulate>tf$disable_v2_behavior()
'tf$disable_v2_behavior' is not recognized as an internal or external command,
operable program or batch file.

(base) C:\Users\alexand

[2019-10-08 23:47] kieranrcampbell commented on #52
You need to go into R and call `library(tensorflow)` before running what I proposed (in R)

[2019-10-08 23:48] aaliakmal commented on #52
WARNING: Logging before flag parsing goes to stderr.
W1008 16:47:53.052414 21224 deprecation.py:323] From C:\Users\alexanderlee\AppData\Roaming\Python\Python37\site-packages\tensorflow_core\python\compat\v2_compat.py:65: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are

[2019-10-10 17:07] DadongZ opened #53 "AttributeError: 'module' object has no attribute 'Num'"
I got en error when I run the tutorial data:
[code]
Any suggestions? Thanks

[2019-10-10 19:02] #53 closed

[2019-10-10 19:03] DadongZ commented on #53
Solved by using python3

[2019-10-11 01:43] VicenteFR opened #54 "Conda package."
Hi!

What is the appropriate tensorflow version for the current Conda package?

Thanks

[2019-10-11 21:12] kieranrcampbell commented on #54
For the current CellAssign on github you want Tensorflow 2.0.0. It looks like

`conda install pip`

does this currently

[2019-10-21 20:50] kieranrcampbell commented on #35
Hi both,

Sorry I thought I'd addressed this but clearly hadn't. This is now fixed in fcf161d . In particular, it gets a new seed simply by calling `sample` which is then passed to the Tensorflow session, so `set.seed` should work with `cellassign`. Let me know if any further problems.

[2019-10-21 20:50] #35 closed

[2019-10-21 20:50] #43 closed

[2019-10-21 20:51] #44 closed

[2019-10-31 23:05] lxhuang7 opened #56 "Questions about parameters in cellassign function"
Hi,

Thanks for this very useful tool! I would like to ask two questions about cellassign() function.

(1) I'm a bit confused on the default value of the parameter **min_delta = 2**. In the documentation it is described as the minimum log fold change a marker gene must be over expressed. Is this 2 **the fold-change** or **log2-fold change**? I'm asking  because we often use 2-fold change (1-log-fo

[2019-11-01 18:59] olechnwin opened #57 "length(s) == nrow(Y) is not TRUE"
Hi,
I got the following error when running cellassign:
[code]
I thought this error is related to the number of rows in my exprs_obj and the s cellsize factor, but they are equal:
[code]

This is my code to run cellassign, where I convert the Seurat object to sce then subset the expression to be only the markers.
[code]
I tried to run the code in cellassign.R one-by-one but strangely it won't find

[2019-11-01 19:16] olechnwin commented on #57
Never mind. I figured it out. My bad.
`s` is the size factor duh! so I should have this:
`s=sizeFactors(computeSumFactors(sce.sf))`
and deleted this line: `s=s[rownames(s) %in% rownames(bone.markers.mat),]`

[2019-11-01 19:16] #57 closed

[2019-11-01 21:40] Irrationone commented on #56
Hi Lei,

Good questions:

1) min_delta corresponds to the log fold change here. So yes, a min_delta of 2 would correspond to a minimum fold change of exp(2).

2) In practice, this shouldn't make a substantial difference in terms of cell assignments. The core assumption behind CellAssign is only that a marker gene for a given cell type is over-expressed to around the same degree in cells of that ty

[2019-11-01 21:45] lxhuang7 commented on #56
That makes sense. Thanks Allen!

[2019-11-01 21:45] #56 closed

[2019-11-05 07:20] VBRay commented on #52
I had the same problem, Python 3.7 64 bit, Tensorflow 2.0, R 64 bit, here is my info:
`reticulate::py_config()
python:         D:\Learning_Softwares\Python37\python.exe
libpython:      D:/Learning_Softwares/Python37/python37.dll
pythonhome:     D:\Learning_Softwares\Python37
version:        3.7.5 (tags/v3.7.5:5c02a39a0b, Oct 15 2019, 00:11:34) [MSC v.1916 64 bit (AMD64)]
Architecture:   64bit
nump

[2019-11-07 16:49] olechnwin opened #58 "cell with zero counts is assigned to a cell type"
Hi,
When I ran cellassign, I got a warning that some cell have 0 counts. However, that cell is assigned to a cell type. I'm wondering how come this particular cell is not assigned to other?

This is my code to run cellassign:
[code]
Warning message and the empty cell assignment:
[code]

And this is what is defined as markers:

[code]

[2019-11-07 16:59] olechnwin commented on #35
Hi,
Sorry for the stupid question. Can you please let me know how do I install the cellassign version that has the seed setting fixed?

[2019-11-07 19:54] alyosama opened #59 "CellAssign 99.16 Installation"
Hi I tried to install CellAssign from github and I got this issue. I installed tensorflow2.0 and it is working from  python

[code]

[2019-11-08 11:56] kieranrcampbell commented on #35
No stupid questions here -- if you reinstall cellassign with `devtools::install_github` ensuring version 0.99.16 you should be able to do

[code]

please let me know if it doesn't work!

[2019-11-08 11:57] kieranrcampbell commented on #59
That doesn't sound good. Can you post the results of `sessionInfo()` ? Thanks

[2019-11-08 17:31] alyosama commented on #59
[code]

[2019-11-11 01:33] LTLA commented on #36
I've noticed that many of the issues in this repository relate around the installation of the Python dependencies. We've been working on resolving this in the context of Bioconductor packages by providing a central Python instance with a few core packages (including, yes, tensorflow). Repository [here](https://github.com/LTLA/basilisk) - check out the vignette and comments at LTLA/basilisk#2.

[2019-11-11 01:54] kieranrcampbell commented on #36
Thanks Aaron, this could be a lifesaver. The python/tensorflow experience has not been great. I'll have a look into this when back from holiday in a couple of weeks.

[2019-11-11 01:55] #42 closed

[2019-11-12 01:11] Irrationone commented on #58
There's a chance that CellAssign may not have fully converged with respect to this one cell, or that the mean marker expression values for Osteoprogenitor and other are not substantially different.

What are the outputs of `fit$mle_params$delta` and `fit$mle_params$beta`?
Also, what is the size factor for this particular cell?

[2019-11-19 14:53] bug1303 commented on #20
This would be a nice usability plus, which would possibly increase the user base.
As long as this is not supported, is there anything wrong with using
`MySCE = as.SingleCellExperiment(MySeuratObject)`?

[2019-11-20 20:46] olechnwin commented on #58
Sorry for the long delay in replying this. But, I cannot seem to reproduce this result. That's why I'm re-installing cellassign to make sure I can set the seed.
I'm going to close this issue and will post a new issue if I ran into this issue again.
Thanks for replying.

[2019-11-20 20:46] #58 closed

[2019-11-22 03:10] alyosama commented on #59
@kieranrcampbell I have found the problem.
I was running cellassign on a compute node that doesn't contain a gpu.

Moreover,

In the documentation https://irrationone.github.io/cellassign/introduction-to-cellassign.html
, you mentioned that it uses tensorflow 2.0. However, tensorflow 2.0 doesn't have Session so the below code won't work with tensorflow 2.0

[code]

[2019-11-22 03:10] #59 closed

[2019-11-25 14:54] kieranrcampbell commented on #52
Hi all

Could you try reinstalling cellassign via

[code]

? This uses the new `basilisk` package from Aaron Lun and I'm interested if it solves the build problems on windows. Thanks

[2019-11-25 17:11] kieranrcampbell commented on #36
Hey @LTLA

Just made a version of cellassign that uses basilisk, seems to work nicely from my limited testing. What's the overall plan for the package? Is it going into the next Bioconductor release?

Thanks

[2019-11-25 18:25] LTLA commented on #36
I hope so, but we're at a bit of a chicken-and-egg moment; I need to convince the core team that it's useful to get some support for it, but I can't do that until developers use it, and developers can't use it unless it's in Bioconductor.

So a good start would be to keep it on a separate branch but see if it solves any of the installation problems encountered by various users (only on Linux and M

[2019-12-19 05:11] 865699871 opened #61 "example_marker_mat"
In data(example_marker_mat) : data set ‘example_marker_mat’ not found

[2019-12-23 02:04] JingleW opened #62 "How to perform cell-type assignments for clusters derived from unsupervised clustering?"
I want to use CellAssign to annotate my cells. I previously used Seurat to process my data and do unsupervised clustering. It seems there are two ways to use CellAssign and Seurat.
1. Do unsupervised clustering with Seurat first, then subset each cluster and annotate it with CellAssign.
2. Use CellAssign to annotate all the cells without unsupervised clustering firstly.

I wonder which method is r

[2019-12-23 09:51] kieranrcampbell commented on #62
Approach 2 is the correct way

On Mon, Dec 23, 2019 at 02:04 JingleW <notifications@github.com> wrote:

[2020-01-13 03:20] fengsidu commented on #52
I used this code
devtools::install_github("LTLA/basilisk")
devtools::install_github("kieranrcampbell/cellassign")

16-bit application is not supported. It is not compatible with 64-bit Windows. Is there a 64-bit compatible version?

[2020-01-13 04:14] LTLA commented on #52
16 bit?! Where did that come from? Hope you're not trying to run R on Windows 3.1.

Seriously though, you should post the error log. I don't know about others here, but I'm not psychic, and I can't figure out whether the problem is with **basilisk** or not from your vague statement above.

[2020-01-15 21:13] #62 closed

[2020-01-15 21:14] kieranrcampbell commented on #61
Are you loading the cellassign package first? Can you provide more info, e.g. the output of `sessionInfo` ? Thanks

[2020-01-15 21:15] #54 closed

[2020-01-28 15:29] hxy265 opened #63 "Insta"
Hi,
I'm having a few issues with the first steps of the installation and wondering if you could help.
When i install tensorflow with

it seems to install Tensorflow 2.0.0,

TensorFlow v2.0.0 ()
Python v3.6 (~/.local/share/r-miniconda/envs/r-reticulate/bin/python)

However, it seems it installs tensorflow probability v0.9 which requires Tensorflow >=2.1? Is there any way to install an older version

[2020-01-28 18:33] kieranrcampbell commented on #63
Does

[code]

work for you?

[2020-01-28 23:31] hxy265 commented on #63
thanks, i tried this before and get the following before Rstudio crashes. i'm running this on our HPC. however, it does seem to work when running R on the command line?

2020-01-28 23:14:45.200793: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'libnvinfer.so.6'; dlerror: libnvinfer.so.6: cannot open shared object file: No such file or directory; LD_

[2020-02-10 20:43] tkapello opened #64 "SizeFactors() does not add size factors to SingleCellObject"
Hi,

       I want to classify 1,047 cells from a Seurat object in 16 possible phenotypes and I used the cellassign package for that. I ran the below code, but I had the mentioned error. I think I followed the vignette correctly, but it seems like the sizeFactors() does not add the size factors to the SingleCellObject. Any suggestions?

[code]

I attach my SessionInfo() in case it may be useful
[c

[2020-02-10 20:50] kieranrcampbell commented on #64
Looks like 2 problems here. Size factors not being carried over because I suspect `sizeFactors(sce)` is NULL. You should be able to recompute them by calling

`sce <- scran::computeSumFactors(sce)`

after creating the object. But more importantly, it looks like tensorflow probability isn't installed properly:

[code]

If you run

[code]

then call

[code]

how does it look?

[2020-02-11 16:13] tkapello commented on #64
Sorry for the delay, time difference... Is it possible to work with tensorflow v 2.0.0?

[2020-02-11 17:22] kieranrcampbell commented on #64
You can try but I think there was a tensorflow probability error last time I did

[2020-02-13 01:42] icanwinwyz opened #65 "version is too old on bioconda"
Hi,

I successfully used conda to install the cellassign. However, it seems like the version on conda is so old, v0.99.2. Could you update it to the latest version there? Thanks.

[2020-02-18 21:52] kieranrcampbell commented on #65
The conda version was actually created by @johanneskoester -- Johannes, do you have any advice for updating? Thanks

[2020-03-18 03:19] xiatianjihao commented on #34
Hi all,
I have the same problem  and have installed tensorflow using the install_tensorflow() function, but the problem still existed. I have searched all the issues about this problem, but I can't found the perfect solutions. Did you have solved it ?

[2020-03-23 04:18] 3150129019 commented on #63
ImportError: This version of TensorFlow Probability requires TensorFlow version >= 2.1; Detected an installation of version 2.0.0. Please upgrade TensorFlow to proceed.

I solve the problem mentioned above by downgrade the module of tensorflow_probability.
pip install tensorflow_probability==0.8.0

[2020-03-23 04:29] 3150129019 commented on #52
error: Your current architecture is 32bit however this version of Python is compiled for 64bit.
*** arch - x64
ERROR: loading failed for 'i386'

I solve the problems mentioned above via
install_github("Irrationone/cellassign",INSTALL_opts="--no-multiarch")
because it will not load  32bit  and   64bit  architecture  at the same time.

[2020-03-27 15:47] rosshandler opened #66 "Error: tensorflow/core/framework/cpu_allocator_impl.cc:81: Allocation of exceeds 10% of system memory"
Dear cellassign team,

I am trying to run cellassign in a dataset of a bit more than 400,000 cells. I was able to do some tests with subsets of 100,000 cells but when using the whole dataset I get tensorflow error saying that "Allocation of exceeds 10% of system memory" leading to Aborted (core dumped). I am not using GPUs and I get this message when loading the library(cellassign):

Cannot dlopen

[2020-04-05 19:57] congcong25 commented on #63
I also had the above problem, and I cannot install the version 2.1.0.
when I run the code: "install_tensorflow(extra_packages = "tensorflow-probability", version = "2.1.0")", it comes the following result:
Error in gzfile(file, "wb") :
Error saving session (options): R code execution error
WARNING: Forcing suspend of process in spite of all session data not being fully saved.

[2020-04-05 19:59] congcong25 commented on #63
Dear,
did you solve the problem?

[2020-04-06 02:34] 3150129019 commented on #63
Hi
There were many problems when I installed  Tensorflow 2.1.0. I could not solve those problelms. It is difficult for me. Besides, **install_tensorflow(extra_packages= "tensorflow-probability")** installs Tensorflow 2.0.0. Thus, I gave up install Tensorflow 2.1.0 and using Tensorflow 2.0.0.

But it would appear the problems:
**ImportError: This version of TensorFlow Probability requires TensorFlo

[2020-04-08 05:48] congcong25 commented on #63
thanks for your reply,
yes, I downgrade the tensorflow_probability to 0.8.0 in , and I did also install the cellassign successfully. but when I run the  cellassign, it still reported the same problem.

[2020-04-08 22:37] smk5g5 opened #67 "I keep getting Error in cellassign(exprs_obj = sub_sizefac, marker_gene_info = reorder_markersel, : nrow(rho) == G is not TRUE"
Hi,

I am running cellassign on a custom marker file and a single cell experiment object. Whenever I run
`
fit <- cellassign(exprs_obj = sub_sizefac,
                  marker_gene_info = reorder_markersel,
                  s = s,
                  learning_rate = 1e-2,
                  shrinkage = TRUE,
                  verbose = FALSE)
`
I keep getting the following error
`Error in cellassign(

[2020-04-12 15:17] 3150129019 commented on #63
What is the problem when you run the cellassign？

[2020-04-13 20:28] kieranrcampbell commented on #67
One big comment before investigating: the input should be marker genes only - it looks like you're inputting 19371 genes - are these really all markers? See e.g. the basic usage section [here](https://irrationone.github.io/cellassign/articles/introduction-to-cellassign.html#basic-usage)

As to the issue itself, can you
[code]

Thanks

[2020-04-13 20:30] kieranrcampbell commented on #63
Hi folks,

We've been working on this to try and fix installation issues as part of a bioconductor submission. We now depend on the [basilisk](https://github.com/LTLA/basilisk) package in that build that should solve some of these issues.

Could you try
[code]

and we'll see if that helps fix things? (it should at least help with tensorflow issues)

Thanks

[2020-04-13 20:35] #65 closed

[2020-04-13 20:35] kieranrcampbell commented on #34
Hi @xiatianjihao

We've been working on this to try and fix installation issues as part of a bioconductor submission. We now depend on the [basilisk](https://github.com/LTLA/basilisk) package in that build that should solve some of these issues.

Could you try
[code]

and we'll see if that helps fix things? (it should at least help with tensorflow issues)

Thanks

[2020-04-13 20:36] #61 closed

[2020-04-24 18:49] mjhubisz opened #68 "links to vignettes are broken"
Just a small thing, but the links to vignettes on this page:
https://irrationone.github.io/cellassign/index.html
are giving 404 not found errors.

[2020-04-25 07:51] chanwkimlab opened #69 "Reproducing Paper"
Hello
Firstly, I'd like to thank you for publishing the useful cell assignment framework.

During porting the current r-TensorFlow implementation on PyTorch for my personal use, a few questions arose.

---

### 1. Inconsistency between the implementation and statements in the paper.

The methods section of the publication says that

But, in the current implementation
a is initialized to 1, and b i

[2020-04-27 16:32] rargelaguet opened #70 "Remove invalid chunk from introduction vignette"
The following chunk is not valid for tensorflow 2:
[code]

returns:
[code]

[2020-04-28 05:25] chanwkimlab commented on #70
You can execute
[code]
before executing the chunk of code you mentioned to resolve the problem,

[2020-04-29 22:38] Irrationone commented on #69
Hi Chanwoo,

Thanks for your interest:

1. This is a mistake in the methods section -- _b_ has always been fixed for the paper. In practice, this formulation of the dispersion term in the negative binomial shouldn't make a substantial difference in cell type assignments. One of the very old development versions of CellAssign specified free dispersions, and gave similar results on the solid tumour

[2020-04-29 22:47] Irrationone commented on #66
Hi Ivan,

How many marker genes are you running with? The first message you're getting is just a warning from tensorflow, and the core dump happens when you've run out of all memory. What does your actual memory usage look like when running cellassign?

Allen

[2020-04-30 21:28] rosshandler commented on #66
Hi Allen,

I am using several gene markers, because there are several cell types. I am now subsetting the data to simplify the task and use less gene markers. If using the whole dataset (400,000 cells) It reaches the 10% of 700GB of RAM and stops because of that. I see this in the memory usage. If interested, I will let you know how it goes.

Best,
Ivan

[2020-05-05 19:00] paula-tataru opened #71 "Issue with running "Basic usage" example"
Hi,

I have just installed CellAssign and wanted to try out one of the examples before going on to my own data. I tried the "Basic usage" example from [Introduction to CellAssign](https://irrationone.github.io/cellassign/articles/introduction-to-cellassign.html)

Here is my script
[code]

First of all, it failed loading the `example_marker_mat` data. I ran with `verbose=TRUE` and this was part of

[2020-05-10 11:41] rargelaguet commented on #66
Hi Allen,
I am also running out of CPU memory (>70GB) for a data set with the following characteristics:
[code]
Could you explain why does cellassign use so much memory?

Thanks,
Ricard.

[2020-05-11 20:32] avln24 opened #72 "Length(s) == nrow(Y) is not TRUE"
Hi there,

I'm new to cellassign and am trying to apply it to my own dataset, however whenever I run the following code, I get an error.

`fit <- cellassign(exprs_obj = gexp,
                  marker_gene_info = markers,
                  s = s,
                  learning_rate = 1e-2,
                  shrinkage = TRUE,
                  verbose = FALSE)`

Error in cellassign(exprs_obj = gexp, mar

[2020-05-11 20:40] kieranrcampbell commented on #72
Hi @avln24

What is
`dim(gexp)` and `dim(markers)`

right before you put them into cellassign?

[2020-05-11 20:42] avln24 commented on #72
Hi Kieran,

`dim(markers)
[1] 15  3

[1] 4171   15`

[2020-05-11 20:43] avln24 commented on #72
Hi @kieranrcampbell,

This is what I get
`dim(markers)`
[1] 15  3
`dim(gexp)`
[1] 4171   15

[2020-05-11 22:23] Irrationone commented on #72
Hi @avln24 ,

How are you calling `calculateSumFactors()`? Note that it expects a matrix of genes (rows) by cells (columns), which is the opposite of what the `exprs_obj` input is in `cellassign`.

So you should have something like

[code]

[2020-05-12 13:55] avln24 commented on #72
Hi @Irrationone,

I followed your suggestion and it worked. Thank you!
I was inputing the exprs_obj directly into `calculateSumFactors()` without taking its transpose

[2020-05-18 05:17] hyguo2 opened #73 "Issue with running "Basic usage" example"
To whom it may concern,

I've tried to run your toy example (codes as follows) with cellassign (0.99.21) without any error. However, I cannot get stable results under the default setting as shown in the code. In other words, the accuracy is 1 for some runs but less than 1 for some other runs. By reading other issues, I think this is because the algorithm ends with a local optimum. Could you please

[2020-05-22 09:11] SeoChaehwa commented on #61
Hello kieranrcampbell,

I also not found data set 'example_marker_mat'.
here's my sessionInfo().

Warning message:
In data(example_marker_mat) : data set 'example_marker_mat' not found

R version 4.0.0 (2020-04-24)
Platform: x86_64-conda_cos6-linux-gnu (64-bit)
Running under: Buildroot 2014.02

Matrix products: default
BLAS/LAPACK: /usr/local/lib/libopenblasp-r0.3.9.so

locale:
[1] C

attached bas

[2020-05-29 17:39] #72 closed, assigned to nobody

[2020-06-17 03:15] Drqyzhuang opened #74 "Library cellassign aborted R session"
Hey, I met a problem when I library cellassign.
Installation  of tensorflow and cellassign is successful.
##Installation complete
However, when I library cellassign, It showed that R encounter a fatal error, forcing me to start a new R sesssion. Could you help me solve the issues?

[2020-07-09 08:34] Sa753 opened #75 "Installation failed"
I am using Mac Catalina 10.15 and tried to install Cellassign using R and using anaconda and all failed.

I managed to install tensorflow using Pip install but not using R though. I am using R version 4.0.1

This is the error I am getting trying to install cell assign

Downloading GitHub repo Irrationone/cellassign@master
✓  checking for file ‘/private/var/folders/40/r15m2x5n3vj1vd599d25fp4h0000gn

[2020-07-29 01:39] Wang-Cankun commented on #75
I tried to install CellAssign for an entire day and haven't completed it. Maybe the authors could provide a Docker version?

[2020-08-24 12:27] aldojongejan opened #76 "identify cells negative for a certain marker"
Dear all,

Is it possible to use a markerset of genes that have to be expressed AND genes that are definitely not to be found expressed?
i.e. negative for CD14  etc..

with kind regards,
Aldo

[2020-09-12 09:36] evenDDDDD opened #77 "Number of genes provided in marker_gene_info should match number of genes in exprs_obj and be marker genes only"
Hi, when I was using cellassign, this error occurred. I can confirm that the number and order of genes in my matrix and marker are consistent.

[code]
This is my codes：
[code]
My sessionInfo()
[code]

[2020-09-29 08:57] levinhein opened #78 "Failed "tensorflow::install_tensorflow()""
Hello, I have two lines of commands here. One is `install.packages()` which successfully finished. But the second line `tensorflow::install_tensorflow()` failed. I don't understand why. Any advice, please? Thank you!

[code]

[2020-10-09 12:54] qrzhang commented on #78
I used to have the same error. And for me, it's fixed after I specify my Anaconda environment. You can try to use the following code.

[code]

[2020-10-15 07:18] levinhein commented on #78
Hi @qrzhang. Thanks for your reply! Does this mean that I can't use cellassign or tensorflow, unless I create/use a conda environment?

[2020-10-15 09:37] levinhein commented on #78
Hello @qrzhang! I followed your tips. I created a new conda environment, cellassign with python=3.7, then activated the environment, then opened Rstudio from the active environment. I think all these 5 lines of codes worked, but there's an error at the end of the 5th code. As you can see from the attached image, it says:

`Error: installation of 'python=3.6' into environment '/home/levinbioinforma

[2020-10-17 18:47] petrsh opened #79 "Parallelization error"
Hi,

when using Rstudio on macOs with R 4.x you have to use the newest version of Rstudio otherwise you get the following error:

Error in makePSOCKcluster(1) :
  Cluster setup failed. 1 worker of 1 failed to connect.

See https://github.com/rstudio/rstudio/issues/6692

[2020-10-17 18:48] #79 closed, assigned to nobody

[2020-10-22 09:21] levinhein commented on #78
Hello, following up on this. Do you any more suggestion? Thanks!

[2020-10-23 04:23] slohr commented on #78
We had a tough time getting this to work in our environment too and finally came up with an approach that at least works for us. Perhaps it will work for you.

Here are a few coarse details about our environment: RStudio Server Pro 1.3, R 4.0.2 and Python 3.8.

Basically it boils down to managing a python virtual environment *outside* of the R environment.

First get a run-of-the-mill virtual envi

[2020-11-18 19:49] keithgmitchell opened #80 "Documentation workflow does not work with conda install"
The example data does not load.
[code]

The conda session info does not match that from the documentation.
[code]

In addition, I believe the cell by gene matrix was not working with the cellassign call but since the example data was not working it has been difficult to detect what the issue is. It seemed to work fine with R 3.6 but I do not believe things are working with the conda install (R 4.0

[2020-12-07 19:55] kmh005 opened #81 "imbalanced marker lists"
Hi,
Great tool!  We're really pleased with its performance.  Would recommend adding the FC cutoff in the basic example as well.
Can you explain how the algorithm handles imbalanced marker list sizes, or if it's preferable to randomly sample to the same N of markers?  We obviously get different results on the full 120v50 and 40v40, so we'd like your opinion on the appropriate choice for your algori

[2020-12-08 15:20] kieranrcampbell commented on #81
Interesting question and I'm not sure we tested this fully. There'll be a trade-off in terms of the more markers the better for assignment, but if the data you're assigning differs substantially from the data on which you derived the marker genes, then a smaller set of robust markers may be preferable. Would recommend plotting the marker expression in terms of cell type after fitting, to see if th

[2020-12-08 18:49] kmh005 commented on #81
Thanks for your response.  We're using DGE genes stratified by logFC as derived from the actual data to determine class as a proof-of-concept.  Sub-sampling to the smaller class (N=40) gives a drastically different classification than the imbalanced up/down.  Your idea of the most robust markers makes sense, we've tried by logFC and by padj (N=20).  However, using the imbalanced classes result is

[2020-12-15 17:31] adamgayoso opened #82 "Implementation in scvi-tools"
Hi cellassign team,

We might be interested in implementing a Python version of cellassign in [scvi-tools](https://www.scvi-tools.org/en/latest/).

I'm taking a look at the EM optimization for cell assign, and I see that the M step is performed over all cells in the dataset? Do you have any experience with mini-batching (I believe in the EM literature, it's called incremental EM)? It would be easi

[2020-12-15 17:59] kieranrcampbell commented on #82
Hi @adamgayoso

A python version of cellassign would be awesome, we've had endless issues with the tensorflow <-> R compatibility for installs.

We discussed mini-batching for EM at some point and don't think we went through with it (though maybe Allen can correct). Don't see any fundamental problems with it other than possibly needing better convergence monitoring since you'd then be taking noisy

[2020-12-15 18:15] adamgayoso commented on #82
Hi @kieranrcampbell

We will likely go ahead and try implementing CellAssign -- we are in the middle of writing a developer-centric API to easily write new models without the overhead of defining datasets, data loaders, trainers etc. So basically for CellAssign we will just need to define the model parameters, the E step, and the likelihood objective. To get an idea if you're curious, we have [imp

[2020-12-16 01:27] Irrationone commented on #82
Hi @adamgayoso

With regards to mini-batching, definitely doable; had briefly tried this in the past as Kieran said but decided to not go ahead with it without more comprehensive convergence testing. Happy to hear that you guys are interested in implementing a Python version -- feel free to reach out with any questions.

[2020-12-29 01:06] keithgmitchell commented on #80
Bump?

[2021-01-13 03:55] ayeTown commented on #66
Was anyone able to fix their out of memory issues?

[2021-02-12 21:21] adamgayoso commented on #82
@wukathy has implemented something that looks to give similar predictions as your implementation!! It takes about 30 seconds to run on a GPU. We still have some things we'd like to cleanup to mirror your implementation more.

Also, is "celltype" the correct metadata key to use to evaluate consistency with this implementation? And do you know how long would these datasets take to run with full batc

[2021-02-12 21:36] adamgayoso commented on #82
And no issue with convergence:

![image](https://user-images.githubusercontent.com/10859440/107825019-3c771c80-6d37-11eb-9a38-bca8e9bfa780.png)

[2021-02-12 22:22] kieranrcampbell commented on #82
This looks awesome! The way we usually evaluate is by post-hoc inspection of the expression of the markers per cell type, but given the consistency I wouldn't even bother

Not sure I understand the metadata question - if it's a field you're adding, `celltype` makes sense. If it's a field you're expecting from the user, it could be any of `celltype`, `cell_type`, `Cell type`, etc etc

[2021-02-12 22:30] adamgayoso commented on #82
Oh sorry, we had downloaded the data from the paper, which is being displayed above. The objects have a lot of cell-specific metadata, and appear to have the output of your implementation of CellAssign. I just wanted to confirm which one we should compare to for reproducibility.

[code]

[2021-02-12 22:34] kieranrcampbell commented on #82
Gotcha! Yes `celltype` should be the correct one here

[2021-02-16 02:54] HIT-ImmunologyLab commented on #77
Hi !Have you solved the problem? I also confirm that the number and order of genes in my matrix and marker are consistent. I used the marker genes provided in cellmarker.

[2021-02-23 17:33] sqianglan commented on #77
I have met the same problem. I possible found a simple solution.  Just change the marker dataframe as matrix. So,
`marker <- read.csv("xianyan_marker.txt",sep='\t',header = TRUE, row.names = 1) %>% as.matrix()`

 I have tried to go through the source code, and found this error is raised by the  following code:
`
 if(nrow(rho) != G) {
    stop("Number of genes provided in marker_gene_info should ma

[2021-02-24 11:41] HIT-ImmunologyLab commented on #77
Thank you very much, after I converted marker_gene_info as matrix using as.matrix(), it works!

[2021-03-01 22:32] adamgayoso commented on #82
We completed the implementation, it will be available in our next release this week. It's very consistent with the two main datasets in your manuscript, but we will add a warning that it's experimental and will continue to promote the original implementation.

We would also appreciate if there could be a link to the python implementation on this repo!

[2021-03-01 22:32] #82 closed, assigned to nobody

[2021-03-11 17:05] ERIGR opened #83 "problem installation with conda"
Hi,
I have a problem to run cellassign using a conda environment. Could you please give a list of all packages and versions in the environment conda in order to run correctly the function cellassign (with conda env export > environment. yml or just conda list) in a conda environment. This package seems great and I hope I will manage to use it soon. Thanks a lot !

[2021-03-12 10:13] ERIGR commented on #83
Hi, I've solved the problem. Just for other users, if you install tensorflow from R then type install_tensorflow() after installation and loading of tensorflow (library(tensorflow)).

[2021-03-12 10:13] #83 closed, assigned to nobody

[2021-03-17 01:44] aksarkar opened #84 "conda package does not depend on python, tensorflow, tensorflow-probability"
After running the fragment in the README

[code]
I expect that all required packages are installed. However, I need to additionally run
[code]
to get all of the required packages.

It would be helpful to add these dependencies to the conda package. `conda search` reports that they are not there already
[code]

[2021-04-07 09:21] moutazhelal opened #85 "Error in detecting my system's architechture while installing Cellassign"
Thank you for  Cellassign,
I was  trying to install Cellassign in R (Version 4.0.3 )
I first installed tensorflow using the following:
[code]
But I had first to install another package called processx using:
`install.packages("processx")`
then I loaded the following packages:
[code]
I got an error which states the following

I had already python installed through Anaconda3 (64) but I ran the code

[2021-04-18 10:42] #85 closed, assigned to nobody

[2021-04-23 12:35] moutazhelal opened #86 "output of marker_list_to_mat missing a lot of genes and cell types of the provided list"
Thank you for a great tool,

I am trying to build a marker binary matrix using marker_list_to_mat  function but at the end a lot of the cell types have the value of 0 even if the gene is a marker of this cell type
my list contains the following

after I get a matrix that most of the cell types and gene have a 0 value
using the second cell type above as an example
using these lines of code
[code]

[2021-04-25 10:56] moutazhelal commented on #66
Hi All, I am also getting a similar error that

anybody has a solution for this ?

[2021-06-20 07:31] honghh2018 commented on #49
Hi, i get the same issue. whatever the ways i use that you post above, it can not be solved.
     I use the conda to install the cellassign, and then i enter the R to type the tensorflow::tf_config(), it alway showing the tensorflow's path '~/miniconda3/envs/reticulate_venv/lib/python3.8/site-packages/'.
     But the conda environment that i install the cellassign was in "/test/Data/software/mini_

[2021-06-20 07:32] honghh2018 commented on #49
Hi, i get the same issue. whatever the ways i use that you post above, it can not be solved.
     I use the conda to install the cellassign, and then i enter the R to type the tensorflow::tf_config(), it alway showing the tensorflow's path '~/miniconda3/envs/reticulate_venv/lib/python3.8/site-packages/'.
     But the conda environment that i install the cellassign was in "/test/Data/software/mini_

[2021-06-20 07:33] honghh2018 commented on #49
The conda environment's tensorflow'R package:
![image](https://user-images.githubusercontent.com/41668708/122665925-d74ba000-d1dc-11eb-941d-941f71589e72.png)

But the tensorflow:
tensorflow::tf_config()
TensorFlow v2.5.0 (/home/test/miniconda3/envs/reticulate_venv/lib/python3.8/site-packages/tensorflow)
Python v3.8 (/home/test/miniconda3/envs/reticulate_venv/bin/python)

[2021-06-21 01:16] honghh2018 commented on #49
It can not be work on my case. it still load into tensorflow 2.5

[2021-06-21 08:25] honghh2018 opened #87 "The tensorflow install in the location that i don't want to"
Hi,
     I want to install the cellassign R package using miniconda that install with other path not the default miniconda path like /home/user1/miniconda3.
     For example, I install the miniconda on /share/nas1/user1/miniconda3, after which the old miniconda already had installed in /home/user1/miniconda3, that i want to install the tensorflow into the miniconda environment was along with   /sh

[2021-06-25 05:56] honghh2018 opened #88 "The cpu resource exhausting"
Hi,
   It no doubt that the cellassign was great tools for personalization cell annotating. on my case to running the data, something of, taking cellassign would be invoked so many cpu resource that it would lead to another work suspend to wait the cellassign done.
    As far as this issue, how can i curb the cellassign to use all of cpu, in other word, could i set the number  of cpu to execute ce

[2021-06-25 15:47] kieranrcampbell commented on #88
Are you making sure to only use marker genes as input to the function? (i.e. not tx-wide)?

[2021-06-28 10:07] Bio-MingChen opened #89 "Size factor of CellAssign"
Directly compute size factor by sum of each cell's expression( through `adata.obs["size_factor"] = adata.X.sum(1)`)  will lead to wrong celltype assignemnt when I recently run cellassign example by scvi-tools https://docs.scvi-tools.org/en/stable/user_guide/notebooks/cellassign_tutorial.html. The dataset tutorial used have a size factor in its meta data and I do not know how it comes from, there a

[2021-07-13 18:01] adamgayoso commented on #89
Hi @Bio-MingChen can you raise this issue [here](https://discourse.scvi-tools.org/)? The scvi-tools implementation is independent of this one. Also, the sum of each cell's expression should be taken over all genes, not just the ones used as markers. Finally, it should work if you divide the library size per cell by the mean library size.

[2021-08-13 18:30] Zepeng-Mu commented on #78
I'm also having error with loading cellassign or running `tf_config()` is rstudio but not R console. My solution is to change the python interpreter in the rstudio preference to the one actually in the created virtualenv but not the RStudio default one.

[2021-09-03 07:24] ShaowenJ opened #90 "How this method performs compares to SingleR"
Dear CellAssign developers,
I was wondering how this method compares to singleR, given that singleR is also a very popular cell annotation method in single cell field?
Didn't find the comparison in the paper.

[2021-10-07 11:57] gancao commented on #67
Did you solve this problem? I also met this situation.
Error in cellassign(exprs_obj = sce_marker, marker_gene_info = sce_marker_mat,  :
  nrow(rho) == G is not TRUE
code:
fit1 <- cellassign(exprs_obj = sce_marker,
                  marker_gene_info = sce_marker_mat,
                  s = s,
                  learning_rate = 1e-2,
                  shrinkage = TRUE,
                  verbose = FAL

[2021-10-19 19:25] cpolk3 opened #91 "Gene cluster annotation scRNA-seq integrated data set"
I am working through the "Introduction to scRNA-seq integration" vignette and everything is running smoothly. My problem is that once I get to the "identify conserved cell type markers" section, the transition from identifying the markers to plotting them against cell types is simply "we can explore these marker genes for each cluster and use them to annotate our clusters as specific cell types."

[2021-11-22 20:14] kmh005 opened #92 "Error: Cannot convert a partially known TensorShape to a Tensor: (1, ?)"
Hi,
I used this tool in the past in an older version of R and Python (3.6.2 and 3.6.3 respectively), and it worked like a charm, and thanks for your input to my imbalanced marker set question.
Given the times I'm trying a new install of CellAssign in R 4.1.0 with Python 3.8.3.  I originally tried the TF/TF probability install with default versions in a fresh conda environment, but got the below er

[2021-11-26 07:35] D13001788135 opened #93 "Error in py_module_import(module, convert = convert) :"
when i run this:

an error happens:
Error in py_module_import(module, convert = convert) :
  ModuleNotFoundError: No module named 'tensorflow_probability'

i would appreciate it if someone could help me solve this issue

[2021-11-30 15:02] RuiyuRayWang opened #94 "Error in py_call_impl(callable, dots$args, dots$keywords) : ValueError: Tried to convert 'shape' to a tensor and failed."
When trying to run cellassign on the example dataset,
[code]

R raised the following error:

[code]

And this is the full traceback:
[code]

[code]

Anyone encountered the same issue?

[2021-12-02 06:26] RuiyuRayWang commented on #92
Hi @kmh005, I had the exact same [issue](https://github.com/Irrationone/cellassign/issues/94#issue-1067340838).

About a year ago I used cellassign in R3.6.x and had great results. Then I put aside the project for a while to work on something else.
Recently I come back to use cellassign and attempted to re-run the pipeline with some new data. Now my R is upgraded to 4.0.3. I received the exact war

[2021-12-05 05:37] RuiyuRayWang commented on #94
I think I've found a solution.
When installing for `tensorflow` package for R, it was suggested that we use `install.packages("tensorflow")`. By default this installs the latest release of R `tensorflow` (v2.7.0 as of 2021.12.4).
Instead of using `install.packages("tensorflow")`, I used `devtools` to build from github and explicitly specify the version I want to use.

For example, I choose to use

[2021-12-05 05:37] #94 closed, assigned to nobody

[2021-12-05 05:39] RuiyuRayWang commented on #92
@kmh005 Possible solution: install R `tensorflow` package via `devtools` and explicitly specify a version. #94

[2021-12-05 05:39] RuiyuRayWang commented on #93
@D13001788135 Possible solution: install R `tensorflow` package via `devtools` and explicitly specify a version. #94

[2021-12-07 07:07] GuohuaZhu commented on #94
Thanks a lot,   As the conda "bioinfo" environment had installed  "tensorflow==2.4.0"  and  "tensorflow-probability==0.12.0",
Today I had run the code as you provided on my R studio Server.
At first, the example data run successfully as usuall. And the result “fit” seems no problem. Although the report claimed some errors which I can't understand. But when I run my Seurat data (which had been tran

[2021-12-07 07:35] RuiyuRayWang commented on #94
Hi @GGGGGHua This issue has been posted before: #66, but in that thread there seem to be no final solution to the problem.

As stated in that thread, I suspect this is due to large cell number in your object (131310 cells). To give you an heuristic solution, you can try down-sample your data to an acceptable size, for example using [geosketch](https://github.com/brianhie/geosketch), and then run `

[2021-12-07 08:21] GuohuaZhu commented on #94
Thanks a lot for your timely reply. I had doubted that the over large cell number resulted in the terminated R sesseion.
The data was an integrated single-cell Seurat object. If I run `cellassign` separately on each sub-sample, The "integrated"  would be nonsense. Later, I would try to submit the work on a slurm system. If it still doesn't work, perhaps, I should relinquish the cellassign.

[2021-12-07 09:07] RuiyuRayWang commented on #94
Have you tried run `cellassign` before integration?

If you're working on a large integrated object, then I'd assume most algorithms would face resource issues such as memory shortage. Maybe adopting a "split-and-conquer" strategy would better suit your data, right?

[2021-12-07 12:30] RuiyuRayWang commented on #94
You're welcome
Be cautious with how you split the data. If you split your data into subsets based on clusters, you may not get a full representation of the original cell population. I'm not sure whether `cellassign` would achieve its best performance in that scenario.

The safest way is to sub-sample your data somewhat randomly from each cluster, so that each sub-sample preserves the biological co

[2021-12-14 16:38] ghost commented on #78
@slohr Thank you so much! I was going through installation hell, and this finally worked for me! For me, the use_python method wasn't working, but I got it by running that command before anything else; it seems like loading the libraries causes another python installation to load first, which messes it up. I also used the option required=TRUE, but idk how much that makes a difference.

[2021-12-25 06:13] WangDaMiao97 commented on #92
I tried to install a lower version of R and tensorflow. Unfortunately, the issue still occurred.

Following the issue tip, I modified line 165 of the `inference-tensorflow.R` file, and then, it worked.
`p_y_on_c_norm <- tf$reshape(tf$reduce_logsumexp(p_y_on_c_unorm, 0L), as_tensor(shape(1,NULL)))
`

[2022-01-27 06:16] jolespin opened #95 "Are there any preconfigured `marker_gene_info` files?"
I'm trying to classify some immune system single-cells but I don't have a list of gene-to-celltype markers.

Is there a repository that has these available?

[2022-02-05 02:39] TeodoraTockovska commented on #52
Has anyone found a solution to this issue? I am having the same error trying to install cellassign. My current architecture is in 64bit (confirmed by following the solutions above and re-installing python, RStudio, and all required packages). Thanks!

[2022-05-06 20:02] rajewski commented on #75
I haven't used it myself but there is one now: https://hub.docker.com/r/uvarc/cellassign

[2022-05-11 15:17] regiopires commented on #80
Please,

Any solution for this issue?

Best regards.

At.te

[2022-06-13 19:39] sbwiecko commented on #92
The current solution is therefore:

1. fork the Irrationene/cellassign repository
2. modify line 165 in `inference-tensorflow.R` as fixed by @WangDaMiao97, and push it
3. run `devtools::install_github("your_fork/cellassign")`

That's it, nothing less, nothing more. No need for local Python environment or downgrading to another version of TensorFlow.

[code]

[2022-07-05 23:39] NarainritKaruna commented on #52
Is this solved ?
error: Your current architecture is 32bit however this version of Python is compiled for 64bit.
*** arch - x64
ERROR: loading failed for 'i386'

[2022-07-05 23:43] NarainritKaruna commented on #52
This worked
install.packages("tensorflow")
library(tensorflow)
tensorflow::install_tensorflow(extra_packages='tensorflow-probability')
devtools::install_github("Irrationone/cellassign",INSTALL_opts="--no-multiarch")
library(cellassign)

[2022-10-07 17:37] agalvezm opened #96 "All cells from simulated matrix are assigned to one group with probability 1"
Hello,

Thanks so much for the very useful tool! I am having some issues using the scvi implementation of CellAssign and I wanted to share my results with you.

I am trying to reproduce the benchmarking of CellAssign using data simulatted by the adapted version of Splatter that you mention on your paper. I used the following parameters for the simulation:

[code]

I performed simulations for all p